{% extends "base.html" %}

{% block content %}
    <h1 class="page-title"> Details for package with ID: <strong>{{ package.package_id }}</strong>
        <small></small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ url_for('dashboard.index') }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-folder"></i>
                <a href="{{ url_for('package.index') }}">Packages</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-list"></i>
                <span>Details</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-{{ messages[0][0] }}">
            <button class="close" data-close="alert"></button>
            <span>{{ messages[0][1] }}</span>
        </div>
        {% endif %}
    {% endwith %}

    <div class="portlet light ">
        <!-- <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">{{ package.package_id }}</span>
                <span class="caption-helper">{{ package.partner.full_name }}</span>
            </div>
        </div> -->
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <!-- <h3 class="form-section">Package details</h3> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Date sent:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static"> {{ package.date_sent.strftime('%d/%B/%Y') }} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Date received:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static"> {{ package.date_received.strftime('%d/%B/%Y') }} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Courier:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static"> {{ package.courier.name }} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Tracking number:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static"> {{ package.traking_number or 'N/A' }} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-2"><strong>Partner:</strong></label>
                                <div class="col-md-">
                                    <p class="form-control-static"> {{ package.partner.institution }} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Sender:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static"> {{ package.sent_by().full_name }} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Received by:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static"> {{ package.received_by().full_name }} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Stored at:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static"> {{ package.stored_at().name }} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2"><strong>Package comments:</strong></label>
                                <div class="col-md-10">
                                    <p class="form-control-static"> {{ package.comments }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light portlet-fit portlet-datatable ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">Vials in package</span>
                        <span class="caption-helper">number of vials: {{ package.vials() }}</span>
                    </div>
                </div>
                <div class="portlet-body table-both-scroll">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{{url_for('package.add_vials', id=package.id)}}" class="btn green"> Add new vials
                                    <i class="icon-magnifier-add"></i>
                                </a>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    <!-- <div class="table-container"> -->
                        <table class="table table-striped table-bordered table-hover" id="specimens_tbl">
                            <thead>
                                <tr>
                                    <th> Collection Specimen ID </th>
                                    <th> Cooperator name </th>
                                    <th> Number specimens in received vial </th>
                                    <th> Date received </th>
                                    <th> Country </th>
                                    <!-- <th> State/Province </th> -->
                                    <th> Latitude </th>
                                    <th> Longitude </th>
                                    <th> Genus </th>
                                    <th> Species </th>
                                    <th> Subspecies </th>
                                    <th> Lineage </th>
                                    <th> Gender </th>
                                    <th> Freezer </th>
                                    <th> Box </th>
                                    <th> DNA ng/µl </th>
                                    <th> Body part used in DNA extraction </th>
                                    <th> DNA Storage (Freezer) </th>
                                    <th> DNA Storage (Box) </th>
                                    <th> Comments from processor </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    <!-- </div> -->
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>

{% endblock %}