{% extends "base.html" %}

{% block content %}
    <h1 class="page-title"> Edit information for package with ID: <strong>{{ package.package_id }}</strong>
        <small></small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ url_for('dashboard.index') }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-folder"></i>
                <a href="{{ url_for('package.index') }}">Packages</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-options-vertical"></i>
                <span>Edit</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-{{ messages[0][0] }}">
            <button class="close" data-close="alert"></button>
            <span>{{ messages[0][1] }}</span>
        </div>
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-red"></i>
                        <span class="caption-subject font-red bold uppercase"> Edit package information
                        </span>
                    </div>
                </div>
                <!--/portlet title-->
                <div class="portlet-body form">
                    <form class="form-horizontal" action="{{ url_for('package.edit', id=package.id)}}" method="POST">
                        <div class="row">
                            <h3 class="block" align="center">Package identification</h3>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.package_id.label }}</label>
                                    <div class="col-md-9">
                                        {{ form.package_id(class="form-control", placeholder="Package ID") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3 class="block" align="center">Details for the package</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.date_sent.label }}</label>
                                    <div class="col-md-9">
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yy">
                                            {{ form.date_sent(class="form-control") }}
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.date_received.label }}</label>
                                    <div class="col-md-9">
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yy">
                                            {{ form.date_received(class="form-control") }}
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.courier_id.label }}</label>
                                    <div class="col-md-9">
                                        {{ form.courier_id(class="form-control select2") }}
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.tracking_number.label }}</label>
                                    <div class="col-md-9">
                                        {{ form.tracking_number(class="form-control", placeholder="Tracking number if any") }}
                                        <!-- <input type="text" class="form-control" placeholder="Tracking number if any"> -->
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.partner_id.label }}</label>
                                    <div class="col-md-9">
                                        {{ form.partner_id(class="form-control select2") }}
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.location_id.label }}</label>
                                    <div class="col-md-9">
                                        {{ form.location_id(class="form-control select2") }}
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.sender_id.label }}</label>
                                    <div class="col-md-9">
                                        {{ form.sender_id(class="form-control select2") }}
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{ form.receiver_id.label }}</label>
                                    <div class="col-md-9">
                                        {{ form.receiver_id(class="form-control select2") }}
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">{{ form.comments.label }}</label>
                                    <div class="col-md-10">
                                        {{ form.comments(class="form-control", rows=3) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" class="btn default button-cancel">Cancel</button>
                                    <button type="submit" class="btn green">Submit</button>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                        </div>
                        <!--/form actions-->
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}