{% extends "base.html" %}

{% block content %}
    <h1 class="page-title"> {{ title }}
        <small>register and manage packages</small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
                <i class="icon-folder"></i>
                <a href="{{ url_for('package.index') }}">Packages</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
{% endblock %}