{% extends "base.html" %}

{% block content %}
    <h1 class="page-title"> {{ title }}
        <small>register packages, samples, grant access to new users and request reports</small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                <!-- <i class="fa fa-angle-right"></i> -->
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
{% endblock %}